
<p>
Hello <%= @user.first_name.titleize %>,
</p>

<p>
Thank you for updating your email address to <%= @user.email %>.
Your email address has been verified in our system.
</p>

<p>
Thank you for visiting <%= t('site_name') %>.
</p>
